
<div class="finish-container">
    <div><h3>У вас нет ни одного товара, вернитесь на страницу каталога!</h3></div>
    <button class="finish-pay-button">Каталог товаров</button>
</div>

@section Scripts
{
    <script src="~/js/views/pay/finishPay.js"></script>
}